<H1>
  Add new User:
</H1>
<input type="text" #inputField value="">

<select #status>
  <option value="active">Acvtive</option>
  <option value="unactive">Inactive</option>
</select>

<button (click)="userService.add(inputField.value,status.value==='active')">Add</button>

<hr>

<h3>active</h3>

<app-active-users *ngFor="let active of userService.activeUsers" [user]="active"></app-active-users>

<h3>inactive</h3>

<app-unactive-users *ngFor="let unactive of userService.unactiveUsers" [user]="unactive"></app-unactive-users>

<h3>Activation</h3>
<p>{{counterService.getEnableCount()}}</p>
<h3>Desactivation</h3>
<p>{{counterService.getDisableCount()}}</p>